<!-- Welcome to the main layout page -->
<!-- Anything you put here will show up on every other page -->
<!DOCTYPE html>

<head>
    <!-- This is the head. You'll likely import stylesheets and scripts here -->
    <link rel="stylesheet" href="/style.css">
</head>

<header>
    <!-- It's a header! -->
    <h1>iTunes - Movies</h1>
</header>

    <!--
        This is where the rest of the page will be, depending on what you pass
        in from your Controller. The triple curly braces turns the data from
        the template and turns it into HTML.
    -->
    {{{body}}}

<footer>
    <!-- It's a footer! -->
        <ul>
            <li>By: Ferdinand Cruz</li>
            <li>Make School Tutorial</li>
        </ul>
</footer>
