<!-- Welcome to the main layout page -->
<!-- Anything you put here will show up on every other page -->
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <!-- This is the head. You'll likely import stylesheets and scripts here -->
    <!-- There's a lot of nuances to front end that we can talk about later -->
    <link rel="stylesheet" href="/style.css">
</head>

<header>
    <!-- It's a header! -->
    <h1><a href='/'>iTunes - Movies</a></h1>
</header>

    <!--
        This is where the rest of the page will be, depending on what you pass
        in from your Controller. The triple curly braces turns the data from
        the template and turns it into HTML.
    -->
    {{{body}}}

<footer>
    <!-- It's a footer! -->
        <ul>
            <li>By: Ferdinand Cruz</li>
            <li>Make School Tutorial</li>
        </ul>
</footer>
