header {
    border-bottom: 1px solid grey;
}

#home-container {
    display: flex;
    flex-wrap: wrap;
}

a.movie {
    text-decoration: none;
}

.home-movie-content {
    display: flex;
    width: 450px;
    margin: 10px;
    border: 1px solid grey;
}

.home-movie-content:hover {
    background-color: #EEE;
}

.home-movie-data {
    margin-left: 10px;
    color: black;
}

.home-movie-data p {
    margin: 0px;
}
/* Individual movies  */

.movie-content {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 4fr;
    margin: 20px 5px;
}

.movie-image {
    grid-column: 1;
}

.movie-text {
    margin-left: 10px;
    grid-column: 2;
}

.movie-summary p{
    margin: 0px 5px;
}
